/* FONDO GENERAL */
.landing {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
  min-height: 100vh;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #94a3b8;
  margin-bottom: 30px;
}

/* BOTONES */
.botones {
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

/* BOTON PRINCIPAL */
.btn-primary {
  background: #22c55e;
  color: white;
}

.btn-primary:hover {
  background: #16a34a;
}

/* BOTON SECUNDARIO */
.btn-secondary {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.btn-secondary:hover {
  background: #38bdf8;
  color: black;
}

/* BENEFICIOS */
.beneficios {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* CTA FINAL */
.cta {
  text-align: center;
  padding: 80px 20px;
}

.cta h2 {
  margin-bottom: 20px;
}